# https://www.pexels.com/api/
PEXELS_API_KEY=
# https://pixabay.com/api/docs/
PIXABAY_API_KEY=
# https://freesound.org/apiv2/apply/
FREESOUND_API_KEY=
# openai-compatible image gen model api key
CARO_LLM_API_KEY=
CARO_LLM_BASE_URL=
CARO_LLM_MODEL=nano-banana
